label {
	font-weight: normal;
	display: inline !important;
}

div.toolFormTitle {
	font-weight: bold !important;
}

.toolForm > .toolFormBody {
	padding: 10px;
}

div.debug {
    font-size: 90%;
    font-family: monospace;
    white-space: pre;
}


/*
table.colored th.header {
	background: url('form_title_bg.png') repeat-x scroll center top / auto 100% #FFE899;
	border-bottom: 1px solid #CC9E00;
}

table.bordered td, table.bordered th {
    font-size: inherit;
    border: 1px solid #CC9E00;
}

legend {
    font-size: (@font-size-base * 1.2);
    margin-bottom: 4px;
    width: auto;
    padding: auto;
    border-bottom: 0;
}

fieldset {
    border: 1px solid #C0C0C0;
}
*/